{% extends 'base.html' %}
{% block menu %}
    <li><a href="#">Profile</a></li>
        <li><a href="#">Coupons</a></li>
        <li><a href="#">Credits: 40</a></li>
{% endblock %}
{% block menu_mobile %}
    <li><a href="#">Profile</a></li>
    <li><a href="#">Coupons</a></li>
        <li><a href="#">Credits: 40</a></li>
{% endblock %}
{% block content %}
    <br>
    <div class="content">
    <form method="get" action="/snap/foodlist/">
        {% csrf_token %}
        <div class="input-field">
          <input id="search" type="search" name="q" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
    {% if sitems %}
        <div class="card-panel">
        {% for sitem in sitems %}
            <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">star_border</i>
                        {{sitem.1}}
                </div>
                <div class="collapsible-body">
                    <div class = "blue lighten-4">
                        <p>
                            {{sitem.0}}
                        </p>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="blue lighten-5">
                        <p>
                            {{sitem.2}}
                            <br><br>
                            <a class="waves-effect waves-light btn"
                               href="/snap/food/?name={{ sitem.1 }}&store={{ sitem.0 }}&qty={{ sitem.2 }}">
                            Get Coupon
                                <i class="material-icons right">send</i>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    {% for item in items %}
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">star_border</i>
                        {{item.1}}
                </div>
                <div class="collapsible-body">
                    <div class = "blue lighten-4">
                        <p>
                            {{item.0}}
                        </p>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="blue lighten-5">
                        <p>
                            {{item.2}}
                            <br><br>
                             <a class="waves-effect waves-light btn"
                               href="/snap/food/?name={{ item.1 }}&store={{ item.0 }}&qty={{ item.2 }}">
                            Get Coupon
                                <i class="material-icons right">send</i>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}