{% extends 'base.html' %}
{% block menu %}
    <li><a href="sass.html">Profile</a></li>
        <li><a href="badges.html">Coupons</a></li>
        <li><a href="badges.html">Credits: 40</a></li>
{% endblock %}
{% block menu_mobile %}
    <li><a href="sass.html">Profile</a></li>
    <li><a href="badges.html">Coupons</a></li>
        <li><a href="badges.html">Credits: 40</a></li>
{% endblock %}
{% block content %}
    <br>
    <div class="content">
    <form method="get" action="/snap/foodlist/">
        {% csrf_token %}
        <div class="input-field">
          <input id="search" type="search" name="q" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
    {% if sitems %}
        {% for sitem in sitems %}
            <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">star_border</i>
                        {{sitem.1}}
                </div>
                <div class="collapsible-body">
                    <div class = "blue lighten-4">
                        <p>
                            {{sitem.0}}
                        </p>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="blue lighten-5">
                        <p>
                            {{sitem.2}}
                            <br><br>
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal1" type="submit" name="action">
                            Get Coupon
                                <i class="material-icons right">send</i>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        </ul
<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
        {% endfor %}
    {% endif %}
    {% for item in items %}
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">star_border</i>
                        {{item.1}}
                </div>
                <div class="collapsible-body">
                    <div class = "blue lighten-4">
                        <p>
                            {{item.0}}
                        </p>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="blue lighten-5">
                        <p>
                            {{item.2}}
                            <br><br>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Get Coupon
                                <i class="material-icons right">send</i>
                            </button>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}