{% extends 'base.html' %}
{% block content %}
    <body>
     <div class="container">
         <div class="row">
             <div class="grid-example col s12"><span class="flow-text">  <br> </span></div>
         <div class="row">
            <form class="col s12" id="login_form" method="post" action="/snap/login/">
                {% csrf_token %}

              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input name="username" id="username" type="text" class="validate">
                  <label for="username">Username</label>
                </div>
                 <div class="input-field col s6">
                      <i class="material-icons prefix">https</i>
                      <input name="password" id="password" type="password" class="validate">
                      <label for="password">Password</label>
                  </div>
              </div>
                 <!-- <input type="submit" value="Go"> -->
                 <div class = "row">
                     <div class="col s6 offset-s4 grid-example">
                         <button class="btn waves-effect waves-light" type="submit" name="action">Login
                             <i class="material-icons right">send</i>
                         </button>
                 </div>
                </div>
            </form>
          </div>
     </div>
   </body>




 {% endblock %}
