{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-12">
                     <div class="intro-message">
                         <h3>Select User Type</h3>
                         <hr class="intro-divider">
                         <div class="card-panel" align="center">
                             <a class="btn" href="/snap/">
                                 SNAP User
                             </a>
                         </div>
                         <div class="card-panel" align="center">
                             <a class="btn" href="/donor/">
                                 Donor
                             </a>
                         </div>
                     </div>
                 </div>
{% endblock %}